.reviews-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 148px;
  @include tablet {
    margin-bottom: 100px;
  }

  &__users {
  }
}
.info-reviews {
  display: flex;
  flex-direction: column;
  text-align: center;
  &__title {
    @include text($black, $ff-main, 40px, 400, normal);
    margin-bottom: 17px;
  }

  &__desc {
    @include text($darkGrey, $ff-main, 18px, 400, 160%);
    max-width: 588px;
    margin-bottom: 113px;
    @include tablet {
      margin-bottom: 60px;
    }
  }
}
.users {
  display: flex;
  align-items: center;
  justify-content: center;
  @include tablet {
    flex-wrap: wrap;
  }
  &__photos {
  }
}
.user-reporter {
  max-width: 100%;
  height: 100%;

  img {
    max-width: 100%;
    height: 100%;
    border-radius: 500px 0px 500px 500px;
    box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.15);
    object-fit: cover;
  }
}
.review-reporter {
  margin-left: 67px;
  margin-right: 88px;
  @include tablet {
    margin-left: 0;
    margin-right: 0;
  }
  &__name {
    @include text($black, $ff-main, 24px, 400, normal);
    margin-bottom: 21px;
  }

  &__desc {
    @include text($darkGrey, $ff-main, 16px, 400, 160%);
    max-width: 412px;
    @include tablet {
      margin-bottom: 70px;
    }
   

  }
}
.gallary {
  display: flex;
  gap: 15px;
  &__photos {
    &.col-3 {
        padding-top: 75px;
      display: flex;
      flex-direction: column;
      gap: 47px;
    }
    &.col-4 {
      display: flex;
      flex-direction: column;
      gap: 35px;
    }
  }
}
