.agency-section {
  @include fl(flex, center, center);
  gap: 118rem;
  margin-bottom: 181rem;
  @include tablet {
    flex-direction: column-reverse;
  }
  &__video {
    width: 100%;
    position: relative;
    border-radius: 32rem;
    transition: $transition;
    &:hover {
      scale: 1.1;
    }

    img {
      position: relative;
      width: 100%;
      border-radius: 32rem;
      box-shadow: 10rem 20rem 50rem 0rem rgba(0, 0, 0, 0.15);
    }
    &::before {
      bottom: -64rem;
      right: -41rem;
      position: absolute;
      content: "";
      display: block;
      width: 129rem;
      height: 129rem;
      border-radius: 50%;
      background: $semiOrange;
      @include tablet {
        display: none;
      }
    }
  }
}
.info-agency {
  max-width: 532rem;

  &__title {
    @include text($black, $ff-main, 40rem, 400, normal);
    margin-bottom: 30rem;
    @include adaptiv-font(40, 24);
  }

  &__desc {
    @include text($darkGrey, $ff-main, 16rem, 400, 160%);
    @include adaptiv-font(16, 14);
  }
}
