.client-section {
  @include fl(flex, center, space-between);
  gap: 60rem;
  margin-bottom: 94rem;
  @include tablet {
    flex-direction: column;
    text-align: center;
  }
}
.info-client {
  &__title {
    @include text($black, $ff-main, 40rem, 400, normal);
    margin-bottom: 17rem;
    @include adaptiv-font(40, 24);
  }

  &__desc {
    @include text($darkGrey, $ff-main, 18rem, 400, 160%);
    max-width: 336rem;
  }
}
.image-client {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60rem;
  @include tablet-small {
    flex-wrap: wrap;
  }
  &__logo {
    transition: $transition;
    &:hover {
      scale: 1.1;
    }
    .logo-amazon {
      padding-top: 24rem;
    }
  }
}
