.letter-section {
  display: flex;
  border-radius: 75rem;
  background: #f4f9ff;
  padding: 106rem 92rem;
  gap: 40rem;
  margin-bottom: 146rem;
  @include tablet {
    flex-direction: column;
    align-items: center;
  }
  @include mobile {
    border-radius: 40rem;
    margin-bottom: 80rem;
  }
  .info-letter {
    &__title {
      @include text($black, $ff-main, 40rem, 400, normal);
      margin-bottom: 17rem;
      @include adaptiv-font(40, 24);
      @include tablet {
        text-align: center;
      }
    }

    &__desc {
      @include text($darkGrey, $ff-main, 18rem, 400, 160%);
      max-width: 550rem;
      @include tablet {
        text-align: center;
      }
    }
  }
}
.form {
  display: flex;
  gap: 20rem;
  padding: 10rem;
  justify-content: space-between;
  align-items: center;
  min-width: 479rem;
  height: 80rem;
  border-radius: 60rem;
  background: $white;
  box-shadow: 10rem 20rem 50rem 0rem rgba(0, 0, 0, 0.15);
  @include mobile {
    flex-direction: column;
    gap: 30rem;
    min-width: 280rem;
    height: 100%;
    box-shadow: none;
    background: #f4f9ff;
  }
  &__body {
    padding-left: 24rem;
    @include text($darkGrey, $ff-main, 16rem, 400, normal);
    width: 100%;
    border-radius: 60rem;
    border: 0;
    outline: 0;
    @include mobile {
      min-width: 260rem;
      text-align: center;
      padding: 24rem;
      box-shadow: 10rem 20rem 50rem 0rem rgba(0, 0, 0, 0.15);
    }
  }
  .form__btn {
    flex-shrink: 0;
    overflow: hidden;
    font-size: 16rem;
    max-width: 230rem;
    white-space: nowrap;
    @include mobile {
      min-width: 260rem;
      text-align: center;
    }
  }
}
